
/* Your CSS Code here. */
*{
	margin:0%;
	padding:0%;
	box-sizing:border-box;
	color:white;
}
body{
	background:black;
}
div{
	margin:20px;
}
.moviePic{
	width:200px;
	margin-inline:150px;
	height:250px;
}
.movieDetail{
	width:350px;
	font-size:15px;
	text-align:center;
	margin-inline:80px;
	position:absolute;
}